---
layout: default
---

<div class="relative">
  <div class="relative w-full h-64 md:h-72 lg:h-96 inset-y-0 right-0">
    <img class="relative inset-0 w-full h-full object-cover lg:object-none" src="/images/andy-chewie.jpeg" alt="">
  </div>
</div>


<article class="py-8 mx-4 lg:m-auto lg:w-2/3">
  <div class="text-xl subpixel-antialiased leading-relaxed">
    <div class="prose lg:prose-2xl prose-xl prose-blue text-gray-600 ">
      {{ content }}
    </div>
  </div>
</article>
